body{
    background: rgb(173, 172, 172);
    font-size: 87.5%;
    font-family: Arial, 'lucida Sans Unicode';
    line-height: 1.5;
    text-align: left;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: rgb(166, 63, 207);
    border-radius: 5px;
}

a:hover, a:active {
    background-color: rgb(166, 63, 207);
    color: #FFF
}

.body{
    margin: 0 auto;
    width: 70%;
    clear: both;
}

.img1 {
    width: 40%;
    float: left;
    height: 250px;
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 5px;
    border: 4px solid;
    border-color: purple;
}
.img2 {
    width: 40%;
    float: right;
    height: 250px;
    margin-top: 2%;
    margin-right: 2%;
    border-radius: 5px;
    border: 4px solid;
    border-color: purple;
}

.mainheader nav {
    background-color: #666;
    height: 40px;
    border-radius: 5px;
    margin-top: 2%;
}

.mainheader img {
    width: 100%;
    height: 350px;
    margin: 2% 0;
    border-radius: 5px;
}


.mainheader nav ul {
    list-style: none;
    margin: 0 auto;
}

.mainheader nav ul li {
    display: inline;
}
.mainheader nav a:link, .mainheader nav a:visited {
    color: #FFF;
    display: inline-block;
    padding: 10px 25px;
    height: 20px;
}

.mainheader nav a:hover, mainheader nav a:active,
.mainheader nav .active a:link, .mainheader nav .active a:visited {
    background-color: rgb(166, 63, 207);
    text-shadow: none;
}

.mainheader nav ul li a {
    border-radius: 5px;
}

.maincontent {
    line-height: 25px;
    border-radius: 5px;
    overflow: hidden;
}

.content {
    width: 100%;
    float: left;
}

.post-info{
    font-size: 10px;
    text-decoration: underline;
}

.topcontent {
    background-color: #FFF;
    font-size: 16px;
    border-radius: 5px;
    padding: 3% 5%;
    border:2px solid;
    border-color: purple;
}

.middlecontent {
    background-color: #FFF;
    font-size: 16px;
    border-radius: 5px;
    padding: 3% 5%;
    margin-top: 3%;
    border:2px solid;
    border-color: purple;
}

.bottomcontent{
    background-color: #FFF;
    font-size: 16px;
    border-radius: 5px;
    padding: 3% 5%;
    margin-top: 3%;
    border:2px solid;
    border-color: purple;
}

.mainfooter {
    width: 100%;
    float: left;
    border-radius: 5px;
    background-color: #666;
    margin-top: 3%;
    height: 40px;
}

.mainfooter p {
    width: 92%;
    margin: 1% auto;
    color: #FFF;
}

@media only screen and (min-width: 150px) and (max-width: 600px)
{
    .body {
        width: 90%;
        font-size: 95%;
    }
    .mainheader img {
        width: 100%;
        margin-top: 4%;
    }
    .auc {
        width: 100%;

    }
    .auc2 {
        width: 100%;
        margin-top: 3%;
    }
    .mainheader nav {
        height: 200px;
        margin-top:2%
    }

    .mainheader nav ul {
        padding-left: 0
    }

    .mainheader nav ul li {
        width: 100%;
        text-align: center;
    }
    .mainheader nav a:link, .mainheader nav a:visited {
        padding: 10px 25px;
        height: 20px;
        display: block;
    }
    .content {
        width: 100%;
        float: left;
    }

    .topcontent {
        margin-top: 2%;
        margin-bottom: 2%
    }

    .bottomcontent{
        margin-top: 5%;
    }
    .top-sidebar {
        width: 94%;
        float: left;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-right: 0;
        margin-left: 0;
        padding: 2% 3%;
    }

    .middle-sidebar {
        width: 94%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        padding: 2% 3%;
        margin-bottom: 2%;
        margin-top: 1%;
    }

    .bottom-sidebar {
        width: 94%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        padding: 2% 3%;
        margin-top: 1%;
        margin-bottom: 2%;
    }
    .mainfooter {
        width: 100%;
        float: left;
        margin-top: 2%;
        margin-bottom: 2%;
        height: 50px;
    }

    .mainfooter p {
        width: 97%;
        margin: 1% auto;
        text-align: center;
    }
}
